<div>
    &nbsp;
</div>
<section id="main" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>Cities We Service</h2>
            <p>Information about which counties and cities we service.</p>
        </header>
    </div>
    <section class="wrapper style1 special" style="width: 65%;margin: auto;">
        <div class="row" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
            <ng-map style="width: 100%; height: 600px" center="{{vm.locations.center}}" zoom="10"  >
                <marker ng-repeat="p in vm.locations" tittle="Marker" animation="DROP" position="{{p.loc}}"></marker>
            </ng-map>
        </div>
        <div>
            &nbsp;
        </div>
        <div class="row">
            <!-- Inland Empire -->
            <div class="col-3">
                <div class="box">
                    <div>
                        <h3><a href="" target="_self" ng-click="vm.getInland()" > Inland Empire</a></h3>
                        <div ng-repeat="p in vm.ie">
                            <l>{{p.name}}</l>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <div>
                        <h3><a href="" target="_self" ng-click="vm.getLA()" >Los Angeles </a></h3>
                        <div ng-repeat="p in vm.la">
                            <l>{{p.name}}</l>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</section>