<div>
    &nbsp;
</div>
 <section id="main" class="wrapper style1 special">
     <div class="container" >
          <header class="major">
                <h2>Cities Servicing</h2>
                <p>Information about which counties and cities we service!</p>
            </header>
     </div>
        <section class="wrapper style1 special" style="width: 65%;margin: auto;"> 
         <div class="row" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">      
            <ng-map style="width: 100%; height: 600px" center="33.830712, -117.429066" zoom="10">
                <marker tittle="Marker" animation="DROP" position="33.952261, -117.397470" ></marker>
                <marker tittle="Marker" animation="DROP" position="33.874729, -117.566932" ></marker>
                <marker tittle="Marker" animation="DROP" position="33.931278, -117.549283" ></marker>
                <marker tittle="Marker" animation="DROP" position="33.668475, -117.329445" ></marker>
                <marker tittle="Marker" animation="DROP" position="33.968516, -117.716187" ></marker>
                <marker tittle="Marker" animation="DROP" position="34.063733, -117.650969" ></marker>   
                <marker tittle="Marker" animation="DROP" position="33.493779, -117.146621" ></marker>    
                <marker tittle="Marker" animation="DROP" position="33.781986, -117.230432" ></marker>    
                <marker tittle="Marker" animation="DROP" position="33.984582, -117.515966" ></marker>                
            </ng-map>       
        </div>
        <div>
            &nbsp;
        </div>
        <div class="box"> 
            <div>
                <h3>Corona</h3>
            </div>
            <div>                  
                <a>
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    1690 W 6th Street Suite G
                    Corona, California 92882
                    United States
                </a>  
               
            </div>
             <div>
                <a>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    info@hr-staff.com
                </a>
             </div> 
             <div>
                <a>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Phone: 951-272-0200
                </a>
             </div> 
              <div>
                <a>
                    <i class="fa fa-fax" aria-hidden="true"></i>
                    Fax: 951-272-0205
                </a>
             </div>      
                
        </div> 
    </section>

</section>       





