<div>
    &nbsp;
</div>
 <section id="main" class="wrapper style1 special">
     <div class="container" >
          <header class="major">
                <h2>Locations</h2>
                <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
            </header>
     </div>
        <section class="wrapper style1 special" style="width: 65%;margin: auto;">        
      <div >
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
            <ng-map style="height: 600px;" center="34.221774, -116.253000" zoom="7">
                <marker tittle="Marker" animation="DROP" position="33.874159, -117.565044" ></marker>
            </ng-map>   
        </div>
      </div>
    </section>

</section>       





