<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<section>              
    <div class="table-wrapper" >
         <div></div>
         <div>
            <table ng-repeat="au in vm.positionsOffer | groupBy: JobTitleIndustryName">
                <thead>                
                        <th>{{au.JobTitleIndustryName}}</th> 
                </thead>
                <tbody>
                    <tr>
                        <td>{{au.JobTitle}}</td>
                    </tr>
                </tbody>                      
            </table>
        </div>
    </div>  
</section>