<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<section>              
    <div class="table-wrapper" ng-repeat="au in vm.positionsOffer | groupBy: 'id'">
        <table>
            <thead>
                <tr>
                    <th>{{au.JobTitleIndustryName}}</th>                   
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>ppp</td>
                </tr>
            </tbody>                      
        </table>
    </div>  
</section>