<div>
    &nbsp;
</div>
 <section id="main" class="wrapper style1 special">
     <div class="container" >
          <header class="major">
                <h2>Staffing Services</h2>
                <p>We can find the employees that you are looking for, hith the perfect skills that fits with your bussiness.</p>
            </header>
     </div>
        <section class="wrapper style1 special" style="width: 65%;margin: auto;">        
        <div  class="row" style="height: 80%">           
            <div class="col-3" ng-repeat="au in vm.positionsOffer">                
                <div class="box "> 
                <i class="icon big  {{vm.class}}"></i>
                <div>&nbsp;</div>
                <div>
                    <h3>{{au.Key}}</h3>
                </div>
                <div ng-repeat="val in au.Value">                  
                    <a>{{val.JobTitle}}</a>  
                </div>
                </div>           
            </div>        
        </div>
    </section>
</section>       
