<div>
    &nbsp;
</div>
<!-- Form -->
<section id="main" class="wrapper">
    <div class="container">
    <div class="alert alert-success" ng-show="vm.applicationSuccess" >
        <a ui-sref="Jobs" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Your application for this possition has been send, thank you.
    </div>
    <div class="alert alert-danger" ng-show="vm.applicationNotSuccess" >
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Application submit error!</strong> please try again later.
    </div>
    <h3>Application Form <a ng-show="selectedJob.JobTitleName" >[{{selectedJob.JobTitleName}}]</a></h3>
    <form name="jobApplicationForm">
        <div class="row uniform 50%">
            <div class="12u$">
                <input type="text" name="name" id="name" ng-model="vm.applicationData.name" value="" placeholder="Name" ng-required="true"  />
            </div>
            <div class="8u$ 12u$">
                <input type="email" name="email" id="email" ng-model="vm.applicationData.mail" value="" placeholder="Email" ng-required="true" />
            </div>
            <div class="6u$ 12u$">
                <input type="text" name="phone" id="phone" ng-model="vm.applicationData.phone" value="" placeholder="Phone Number" ng-required="true" />
            </div>
            <div class="6u 12u$(2)">
                <div class="select-wrapper">
                    <select name="state" id="state" ng-model="selectedItem" ng-options="item as item.name for item in vm.statesUS" ng-change="vm.getFilterCities(selectedItem.name)">                   
                        <option value="">- State -</option>
                    </select>
                </div>
            </div>
            <div class="6u 12u$(2)">
                 <select name="city" id="city" ng-model="selectedItemCity">
                    <option value="">- City -</option>
                    <option ng-repeat="c in vm.filterCities" value="{{c.city}}">{{c.city}}</option>
                </select>
            </div>
            <div class="6u$ 12u$(3)">
                <input type="checkbox" ng-model="checked" id="human" name="human" checked>
                <label for="human">I am a human and not a robot</label>
            </div>
            <div class="12u$">
                <textarea name="message" id="message" ng-model="vm.applicationData.resumeCV" placeholder="Copy your resume (optional)" rows="6"></textarea>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" ng-disabled="!checked" value="Send Application" class="special" ng-click="jobApplicationForm.$valid && vm.saveApplication(selectedJob.Id)"/></li>
                    <li><input type="reset" value="Reset" /></li>                   
                    <a ui-sref="Jobs" class="button alt">Cancel</a>
                </ul>
            </div>
        </div>
    </form>
    </div>
</section>